<div class="row comment-wrapper">
  <div class="col-lg-2">
    <img src="https://via.placeholder.com/40x40" class="img-fluid img-circle rounded-circle">
  </div>
  <div class="col-lg-10">
    <p class="single-comment">
      <%= comment.comment %>
    </p>
  </div>
</div>