<div class="row comment-wrapper">
  <div class="col-lg-2">
    <%= poster_avatar comment.user.email  %>
  </div>
  <div class="col-lg-10">
    <p class="single-comment">
      <%= comment.comment %>
    </p>
  </div>
</div>